<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="mx-auto max-w-md px-5">
  <header class="p-5 flex justify-between items-center">
    <h1 class="text-3xl">ToDo List</h1>
    <menu class="flex flex-row items-center justify-center gap-x-3">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
    </menu>
  </header>
  <main>
    <router-outlet />
  </main>
</div>
